<header>
	<div class="container">
		<h1 class="header-title">
			<a href="/">
				My Ecommerce Site
			</a>
		</h1>
		<a
			class="header-checkout btn-pill btn-pill--light"
			href="/checkout"
			data-num-items="<%= numCartItems %>"
		>
			Checkout
		</a>
	</div>
</header>